<!DOCTYPE html>
<html>

  <head>
    <title>Everything's a Product!</title>
    <link rel="stylesheet" href="css/styles.css"> 
    <script src="scripts.js"></script>
  </head>

  <body>
    <%= yield %>
    <a href="/">Back to Home</a>
  </body>
</html>