<h1>Product Creation Page</h1>
<br>
<form action="/create-product" method="post">
  General Information: <textarea name="general_info"></textarea><br>
  Technical Specs: <textarea name="technical_specs"></textarea><br>
  Where to Buy: <textarea name="where_to_buy"></textarea>
  <input type="submit" value="Create Product">